Repository infinispan/infinispan.github.io, pull requests merged in 2020-05, with the labels that each got.

#103 fix 404 to contributor's guide
  getinvolved.html.haml
Labels: bug

#109 add versioned docs for Operator and Spring Boot Starter
  _config/ispn.yml
Labels: enhancement

#112 Blog: Hot Rod URI
  blog/2020-05-26-hotrod-uri.adoc
Labels: blog-post

#113 Blog: CLI enhancements
  blog/2020-05-28-cli.adoc
Labels: blog-post
