Repository infinispan/infinispan.github.io, pull requests merged in 2021-07, with the labels that each got.

#233 Node.js client
  _posts/2021-06-29-js-client.adoc
Labels: blog-post

#237 Documentation category improvements
  _data/ispn.yml
  _includes/documentation-links-band.html
  _includes/download-hotrod-band.html
  _plugins/fetch_docs.rb
  _sass/layouts/documentation.scss
  assets/images/documentation/icon-clients.png
  assets/images/documentation/icon-integrations.png
  assets/images/documentation/icon-server.png
Labels: documentation

#240 workaround to 404 for titles
  docs/12.1.x/titles/hibernate/hibernate.html
  docs/12.1.x/titles/spring/spring.html
  docs/stable/titles/hibernate/hibernate.html
  docs/stable/titles/spring/spring.html
Labels: documentation

#241 Tutorials refactoring
  _data/ispn.yml
  _includes/documentation-links-band.html
  _includes/tutorials-examples-band.html
  _layouts/tutorial.html
  _layouts/tutorials.html
  _plugins/fetch_docs.rb
  tutorials/simple/clusterexec.html
  tutorials/simple/counter.html
  tutorials/simple/cplusplus.html
  tutorials/simple/csharp.html
  tutorials/simple/distributed.html
  tutorials/simple/functional.html
  tutorials/simple/hibernate-cache-local.html
  tutorials/simple/hibernate-cache-spring-local.html
  tutorials/simple/hibernate-cache-wildfly-local.html
  tutorials/simple/javascript.html
  tutorials/simple/jcache.html
  tutorials/simple/listen.html
  tutorials/simple/map.html
  tutorials/simple/openshift.html
  tutorials/simple/operator.html
  tutorials/simple/query.html
  tutorials/simple/remote-listen.html
  tutorials/simple/remote.html
  tutorials/simple/replicated.html
  tutorials/simple/scripting.html
  tutorials/simple/spark.html
  tutorials/simple/spring.html
  tutorials/simple/streams.html
  tutorials/simple/tx.html
Labels: preview
